@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yvjx4t');
  src:  url('fonts/icomoon.eot?yvjx4t#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yvjx4t') format('truetype'),
    url('fonts/icomoon.woff?yvjx4t') format('woff'),
    url('fonts/icomoon.svg?yvjx4t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-question:before {
  content: "\f128";
}
.icon-music1:before {
  content: "\f001";
}
.icon-search1:before {
  content: "\f002";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-user1:before {
  content: "\f007";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-signal:before {
  content: "\f012";
}
.icon-cog:before {
  content: "\f013";
}
.icon-gear:before {
  content: "\f013";
}
.icon-home1:before {
  content: "\f015";
}
.icon-play-circle-o:before {
  content: "\f01d";
}
.icon-repeat:before {
  content: "\f01e";
}
.icon-rotate-right:before {
  content: "\f01e";
}
.icon-headphones:before {
  content: "\f025";
}
.icon-volume-off:before {
  content: "\f026";
}
.icon-volume-down:before {
  content: "\f027";
}
.icon-volume-up:before {
  content: "\f028";
}
.icon-align-justify:before {
  content: "\f039";
}
.icon-indent:before {
  content: "\f03c";
}
.icon-video-camera:before {
  content: "\f03d";
}
.icon-step-backward:before {
  content: "\f048";
}
.icon-fast-backward:before {
  content: "\f049";
}
.icon-backward:before {
  content: "\f04a";
}
.icon-play:before {
  content: "\f04b";
}
.icon-pause:before {
  content: "\f04c";
}
.icon-stop:before {
  content: "\f04d";
}
.icon-forward:before {
  content: "\f04e";
}
.icon-fast-forward:before {
  content: "\f050";
}
.icon-step-forward:before {
  content: "\f051";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-plus-circle:before {
  content: "\f055";
}
.icon-minus-circle:before {
  content: "\f056";
}
.icon-times-circle:before {
  content: "\f057";
}
.icon-check-circle:before {
  content: "\f058";
}
.icon-question-circle:before {
  content: "\f059";
}
.icon-info-circle:before {
  content: "\f05a";
}
.icon-arrow-left:before {
  content: "\f060";
}
.icon-arrow-right:before {
  content: "\f061";
}
.icon-arrow-up:before {
  content: "\f062";
}
.icon-arrow-down:before {
  content: "\f063";
}
.icon-mail-forward:before {
  content: "\f064";
}
.icon-share:before {
  content: "\f064";
}
.icon-expand:before {
  content: "\f065";
}
.icon-comment:before {
  content: "\f075";
}
.icon-retweet:before {
  content: "\f079";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-folder:before {
  content: "\f07b";
}
.icon-folder-open:before {
  content: "\f07c";
}
.icon-arrows-v:before {
  content: "\f07d";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-sort:before {
  content: "\f0dc";
}
.icon-unsorted:before {
  content: "\f0dc";
}
.icon-sort-desc:before {
  content: "\f0dd";
}
.icon-sort-down:before {
  content: "\f0dd";
}
.icon-sort-asc:before {
  content: "\f0de";
}
.icon-sort-up:before {
  content: "\f0de";
}
.icon-angle-double-left:before {
  content: "\f100";
}
.icon-angle-double-right:before {
  content: "\f101";
}
.icon-angle-double-up:before {
  content: "\f102";
}
.icon-angle-double-down:before {
  content: "\f103";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-mail-reply:before {
  content: "\f112";
}
.icon-reply:before {
  content: "\f112";
}
.icon-ellipsis-h:before {
  content: "\f141";
}
.icon-ellipsis-v:before {
  content: "\f142";
}
.icon-qq:before {
  content: "\f1d6";
}
.icon-wechat1:before {
  content: "\f1d7";
}
.icon-weixin:before {
  content: "\f1d7";
}
.icon-toggle-off:before {
  content: "\f204";
}
.icon-toggle-on:before {
  content: "\f205";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-home:before {
  content: "\e903";
}
.icon-music:before {
  content: "\e911";
}
.icon-feed:before {
  content: "\e91d";
}
.icon-mic:before {
  content: "\e91e";
}
.icon-search:before {
  content: "\e986";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-tencentqq:before {
  content: "\e902";
  color: #eb1923;
}
.icon-wechat:before {
  content: "\e901";
  color: #7bb32e;
}
.icon-zhihu:before {
  content: "\e905";
  color: #0084ff;
}
.icon-artist:before {
  content: "\e906";
}
.icon-cheveron-down:before {
  content: "\e900";
}
.icon-dots-horizontal-double:before {
  content: "\e907";
}
.icon-dots-horizontal-triple:before {
  content: "\e908";
}
.icon-fast-forward1:before {
  content: "\e909";
}
.icon-fast-rewind:before {
  content: "\e90a";
}
.icon-forward1:before {
  content: "\e90b";
}
.icon-forward-step:before {
  content: "\e90c";
}
.icon-heart:before {
  content: "\e90d";
}
.icon-music-playlist:before {
  content: "\e90e";
}
.icon-pause1:before {
  content: "\e90f";
}
.icon-pause-outline:before {
  content: "\e910";
}
.icon-play1:before {
  content: "\e912";
}
.icon-play-outline:before {
  content: "\e913";
}
.icon-shuffle:before {
  content: "\e914";
}
.icon-step-backward1:before {
  content: "\e915";
}
.icon-step-forward1:before {
  content: "\e916";
}
.icon-user-group:before {
  content: "\e904";
}
.icon-volume-down1:before {
  content: "\e917";
}
.icon-volume-mute:before {
  content: "\e918";
}
.icon-volume-off1:before {
  content: "\e919";
}
.icon-volume-up1:before {
  content: "\e91a";
}
.icon-heart1:before {
  content: "\e04a";
}
